<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.maniak.developer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.udacity.trivia.TriviaActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".ui.udacity.dessertpusher.DessertPusherActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".ui.udacity.guesstheword.GuessTheWordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity android:name="pl.maniak.developer.ui.udacity.trackmysleepquality.SleepQualityActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ui.udacity.marsrealestate.MarsRealEstateActivity" />
        <activity
            android:name=".ui.udacity.devbyteviewer.ui.DevByteActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".ui.udacity.gdgfinder.GdgFinderActivity"
            android:theme="@style/GdgFinderTheme">
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/gdg_preloaded_fonts" />
        </activity>
        <activity android:name=".ui.udacity.eggtimernotifications.EggTimerActivity"/>

        <receiver
            android:name=".ui.udacity.eggtimernotifications.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>
        <receiver
            android:name=".ui.udacity.eggtimernotifications.receiver.SnoozeReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>
    </application>

</manifest>