<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.maniak.developer">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.udacity.trivia.TriviaActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".ui.udacity.dessertpusher.DessertPusherActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".ui.udacity.guesstheword.GuessTheWordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.udacity.trackmysleepquality.SleepQualityActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ui.udacity.marsrealestate.MarsRealEstateActivity" />
        <activity
            android:name=".ui.udacity.devbyteviewer.ui.DevByteActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".ui.udacity.gdgfinder.GdgFinderActivity"
            android:theme="@style/GdgFinderTheme">
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/gdg_preloaded_fonts" />
        </activity>
        <activity android:name=".ui.udacity.eggtimernotifications.EggTimerActivity" />

        <receiver
            android:name=".ui.udacity.eggtimernotifications.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".ui.udacity.eggtimernotifications.receiver.SnoozeReceiver"
            android:enabled="true"
            android:exported="false" />
        <!-- TODO: Step 3.0 uncomment to start the service  -->
        <service
            android:name=".ui.udacity.eggtimernotifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [START fcm_default_icon] -->
        <!--
            Set custom default icon. This is used when no icon is set for incoming notification messages.
            See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/common_google_signin_btn_icon_dark" />
        <!--
            Set color used with incoming notification messages. This is used when no color is set for the incoming
            notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/breakfast_notification_channel_id" />
        <!-- [END fcm_default_channel] -->

        <activity android:name=".ui.udacity.customfancontroller.CustomFanController" />

        <activity
            android:name=".ui.udacity.minipaint.MiniPaintActivity"
            android:theme="@style/MiniPaintTheme" />

        <activity android:name=".ui.udacity.clipping.ClippingExample" />

        <activity android:name=".ui.udacity.animation.PropertyAnimation"
            android:theme="@style/PropertyAnimationTheme"/>

        <activity android:name=".ui.udacity.motionlayout.MotionLayoutActivity"
            android:theme="@style/MotionLayoutTheme"/>

        <activity
            android:name=".ui.udacity.motionlayout.Step1Activity"
            android:label="@string/title_activity_step1"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.udacity.motionlayout.MotionLayoutActivity" />
        </activity>

        <activity
            android:name=".ui.udacity.motionlayout.Step2Activity"
            android:label="@string/title_activity_step2"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.udacity.motionlayout.MotionLayoutActivity" />
        </activity>

        <activity
            android:name=".ui.udacity.motionlayout.Step3Activity"
            android:label="@string/title_activity_step3"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.udacity.motionlayout.MotionLayoutActivity" />
        </activity>

        <activity
            android:name=".ui.udacity.motionlayout.Step4Activity"
            android:label="@string/title_activity_step4"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.udacity.motionlayout.MotionLayoutActivity" />
        </activity>

        <activity
            android:name=".ui.udacity.motionlayout.Step5Activity"
            android:label="@string/title_activity_step5"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.udacity.motionlayout.MotionLayoutActivity" />
        </activity>

        <activity
            android:name=".ui.udacity.motionlayout.Step6Activity"
            android:label="@string/title_activity_step6"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.udacity.motionlayout.MotionLayoutActivity" />
        </activity>

        <activity
            android:name=".ui.udacity.motionlayout.Step7Activity"
            android:label="@string/title_activity_step7"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.udacity.motionlayout.MotionLayoutActivity" />
        </activity>

        <activity
            android:name=".ui.udacity.motionlayout.Step7CompletedActivity"
            android:label="@string/title_activity_step7_completed"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.udacity.motionlayout.MotionLayoutActivity" />
        </activity>

        <activity
            android:name=".ui.udacity.motionlayout.Step8Activity"
            android:label="@string/title_activity_step8"
            android:theme="@style/MotionLayoutTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.udacity.motionlayout.MotionLayoutActivity" />
        </activity>

        <activity
            android:name=".ui.udacity.motionlayout.Step8CompletedActivity"
            android:label="@string/title_activity_step8"
            android:theme="@style/MotionLayoutTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.udacity.motionlayout.MotionLayoutActivity" />
        </activity>

        <!--
     The API key for Google Maps-based APIs is defined as a string resource.
     (See the file "res/values/google_maps_api.xml").
     Note that the API key is linked to the encryption key used to sign the APK.
     You need a different API key for each encryption key, including the release key that is used to
     sign the APK for publishing.
     You can define the keys for the debug and release targets in src/debug/ and src/release/.
-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.udacity.wander.WanderActivity"
            android:label="@string/title_lesson_5.1"/>

        <activity android:name=".ui.udacity.treasure.HuntMainActivity"
            android:label="@string/title_lesson_5.2"
            android:launchMode="singleInstance"/>

        <receiver android:name=".ui.udacity.treasure.GeofenceBroadcastReceiver"/>

        <activity android:name=".ui.udacity.todoapp.tasks.TasksActivity"
            android:label="@string/title_lesson_5.3"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.OverlapSystemBar"/>
    </application>


</manifest>